.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  left: 0;
  background-image: url('../images/background1.jpg');
  /*display: flex;*/
}

.right {
  right: 0;
  background-color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.centered_login{
  position: absolute;
  text-align: center;
  float: center;
  padding: 70px 0px 90px 170px;
}


.centered_sign_up{
  position: absolute;
  top: 7.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    outline: none;
}

button {
    background-color: #424242;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 25%;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 5px;

}


.sign_up {

    background-color: #424242;
    color: white;
    padding: 14px 20px;
    margin: 90px 0;
    border: none;
    cursor: pointer;
    width: 25%;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 5px;
}


.create_account {
    color: black;
    padding: 14px 20px;
    margin: 18px 0px;
    border: none;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.have_account {
    color: black;
    padding: 14px 20px;
    margin: 95px 0px;
    border: none;
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

button:hover {
    opacity: 0.8;
}

.psw {
    float: right;
    padding-top: 16px;
}


label{
   float: left;
   padding-top: 16px;
   font-size: 15px;
}

.remember{
    float: left;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}

 